<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.getface.plugin.camera"
        version="0.0.15">

  <name>Photo</name>
  <description>A Cordova plugin that displays an alert popup dialog</description>
  <repo>https://github.com/DenniLa2/helloPlugin.git</repo>
  <license>free</license>
  <keywords>plugin, cordova</keywords>
  <issue>https://github.com/DenniLa2/helloPlugin</issue>

  <engines>
    <engine name="cordova" version=">=3.6.0" />
  </engines>

  <js-module src="www/camera.js" name="Photo">
    <clobbers target="Photo" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Photo">
        <param name="android-package" value="com.getface.plugin.camera.Photo" />
      </feature>
    </config-file>
    <source-file src="src/android/Photo.java" target-dir="src/com/getface/plugin/camera" />
  </platform>

  <!-- ios -->
  <!--<platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Photo">
        <param name="ios-package" value="Photo" />
      </feature>
    </config-file>
    <header-file src="src/ios/Photo.h" />
    <source-file src="src/ios/Photo.m" />
  </platform>-->

</plugin>